/* style.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {}

.header {}

.txt_div {
  color: #ccc;
  font-size: 11px;
  vertical-align: 2px;
  margin: 0 9px;
}

input:focus::placeholder {
  color: transparent;
}