* {
    background: #000;
    color: #fff;
}

.header {
    position: relative;
}

.header_content {
    margin-bottom: 10px;
    width: 100%;
    overflow-x: hidden;
}

.header_content>img {
    width: 1903px;
    position: relative;
    top: 0;
}

.content {
    width: 980px;
    margin: 0 auto;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
    position: absolute;
    display: flex;
    padding: 0px 5px 25px 0px;
}

.content>h1 {
    align-items: center;
}

.content>h1>a {
    width: 150px;
}

.logo {
    margin: 5px 0 0 -10px;
}

.lnb {
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
}

.lnb li {
    float: right;
    margin-right: 20px;
}

.lnb li:first-child {
    margin-right: 0px;
}

.lnb li a:hover {
    font-weight: bold;
    color: #FEF1AB;
}

.bg {
    position: absolute;
    width: 100%;
    display: none;
    z-index: -1;
    background: #000;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.gnb {
    position: absolute;
    top: 105px;
    left: 50%;
    transform: translateX(-50%);
    width: 980px;
    padding: 5px 0;
    z-index: 100;
}

.gnb>li {
    position: relative;
}

.gnb_contents {
    width: 980px;
    margin: 0 auto;
    position: relative;
}

.gnb_menu {
    display: inline-flex;
    overflow: hidden;
    padding-left: 10px;
}

.gnb_menu>li {
    float: left;
    width: 110px;
    padding: 20px 0;
}

.gnb_menu>li>a {
    display: block;
    font-weight: bold;
}

.gnb_menu>li:nth-child(4) a {
    display: block;
    margin-left: 15px;
}

.depth2 {
    height: 200px;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    display: none;
}

.depth2 a:hover,
.depth2 a:active,
.depth2 a:focus {
    font-weight: bold;
    /* color: #ffeea1; */
    color: #FEF1AB;
}

.select_chart {
    padding-left: 10px;
}

.container {
    position: relative;
    width: 100%;
}

.contents {
    width: 980px;
    height: 100%;
    margin: 0 auto;
    /* overflow: hidden; */
    margin-top: 10px;
}